<h1> Merchant Bulk Discounts Index Page </h1>

<% @merchant_discounts.each do |discount| %>
  <div id="bulk_discounts_<%= discount.description %>">
    <p><%= link_to "Discount #{discount.description}", merchant_bulk_discount_path(@merchant, discount) %></p></p>
    <p>Discount: <%= discount.discount %>%</p>
    <p>Quantity Break: <%= discount.quantity_break %> items</p>
  </div>
  <% end %> 

<p><%= link_to "Create Discount", new_merchant_bulk_discount_path(@merchant) %></p>