<nav>
  <h1 id="admin_title">Admin Dashboard</h1>
  <ul id="admin_links">
    <li><%= link_to "New Merchant", new_admin_merchant_path %></li>
    <li><%= link_to "Dashboard", admin_index_path %></li>
    <li><%= link_to "Merchants", admin_merchants_path %></li>
    <li><%= link_to "Invoices", admin_invoices_path %></li>
  </ul>
</nav>
<section id="top_five_merchants">
  <ol>
    <% @top_five_merchants.each do |merchant| %>
      <li id="<%= merchant.id %>"><%= merchant.name %> - <%= merchant.revenue %></li>
    <% end %>
  </ol>
</section>
<section id="merchant_names">
  <div id="disabled_merchants">
    <h4> Disabled Merchants </h4>
    <ul>
      <% @disabled_merchants.each do |merchant| %>
        <li id="<%= merchant.id %>">
          <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
          <%= button_to "enable", admin_merchant_path(merchant.id), method: :patch, params: {status: "enabled"} %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="enabled_merchants">
    <h4> Enabled Merchants </h4>
    <ul>
      <% @enabled_merchants.each do |merchant| %>
        <li id="<%= merchant.id %>">
          <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
          <%= button_to "disable", admin_merchant_path(merchant.id), method: :patch, params: {status: "disabled"} %>
        </li>
      <% end %>
    </ul>
  </div>
</section>