<nav>
  <h1 id="admin_title">Admin Dashboard</h1>
  <ul id="admin_links">
    <li><%= link_to "Dashboard", admin_index_path %></li>
    <li><%= link_to "Merchants", admin_merchants_path %></li>
    <li><%= link_to "Invoices", admin_invoices_path %></li>
  </ul>
</nav>

<%= link_to "New Merchant" %>

<section id="merchant_names">
  <ul>
    <% @merchants.each do |merchant| %>
      <li id="<%= merchant.id %>"><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %></li>
    <% end %>
  </ul>
</section>