<nav>
  <h1 id="admin_title">Admin Dashboard</h1>
  <ul id="admin_links">
    <li><%= link_to "Dashboard", admin_index_path %></li>
    <li><%= link_to "Merchants", admin_merchants_path %></li>
    <li><%= link_to "Invoices", admin_invoices_path %></li>
  </ul>
</nav>

<%= form_with model: @merchant, local: true do |form| %>
  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>