<h2><%= @merchant.name %></h2>

<h3>My Items</h3>

<div id="Disabled_Items">
  <h4> Disabled Items </h4>
    <% @disabled_items.each do |item| %>
      <div id=<%= "#{item.id}" %>>
        <li><%= item.name %></li><p><%= button_to "enable", merchant_item_path(@merchant.id, item.id), method: :patch, params: {status: "enabled"} %> </p>
      </div>
    <% end %>
</div>

<div id="Enabled_Items">
  <h4> Enabled Items </h4>
    <% @enabled_items.each do |item| %>
      <div id=<%= "#{item.id}" %>>
        <li><%= item.name %></li><p><%= button_to "disable", merchant_item_path(@merchant.id, item.id), method: :patch, params: {status: "disabled"} %> </p>
      </div>
    <% end %>
</div>

<div id="most_popular_items">
  <h3>Top Items</h3>
    <ol>
      <% @top_items.each do |item| %>
        <li id="item_<%= "#{item.id}" %>"> <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id)%> - $<%= '%.2f'% ((item.item_revenue.to_f) / 100) %> in sales
          <div>Top selling date for <%= item.name %> was <%= item.best_day.strftime("%-m/%-d/%Y") %></div>
        </li>
      <% end %>
    </ol>
</div>



<div id="New_Item">
<%= link_to "Create Item", new_merchant_item_path(@merchant.id) %>
</div>
