<h2><%= @merchant.name %></h2>

<h3>My Items</h3>

<div id="Disabled_Items">
  <h4> Disabled Items </h4>
    <% @disabled_items.each do |item| %>
      <div id=<%= "#{item.id}" %>>
        <li><%= item.name %></li><p><%= button_to "enable", merchant_item_path(@merchant.id, item.id), method: :patch, params: {status: "enabled"} %> </p>
      </div>
    <% end %>
</div>

<div id="Enabled_Items">
  <h4> Enabled Items </h4>
    <% @enabled_items.each do |item| %>
      <div id=<%= "#{item.id}" %>>
        <li><%= item.name %></li><p><%= button_to "disable", merchant_item_path(@merchant.id, item.id), method: :patch, params: {status: "disabled"} %> </p>
      </div>
    <% end %>
</div>

<div id="New_Item">
<%= link_to "Create Item", new_merchant_item_path(@merchant.id) %>
</div>
